body{
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-family: sans-serif;
  background-color: #E6E6FA;
}

/* header */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header{
  background-color: black;
  color: white;
  padding-top: 30px;
  min-height: 70px;
}

header #branding{
  float: left;
  color: yellow;
}

header #branding h1{
  margin: 0px;
}

header nav{
  float: right;
  margin-top: 10px;
}

header li {
  float: left;
  display: inline;
  padding: 0 10px 0 10px;
}

header a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}

ul{
  margin: 0px;
  padding: 0px;
}

header a:hover{
  color: yellow;
  font-weight: bold;
}
/* header */


/* showcase */
#showcase{
  min-height: 400px;
  background: url(img/nn.jpg) 0px -10px;
  text-align: center;
  color: yellow;
}

#showcase h1{
  margin-top: 20px;
  font-size: 55px;
  margin-bottom: 10px;
  text-shadow: 5px 5px 10px black;
}

#showcase p{
  color: yellow;
  font-size: 20px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px black;
}
/* showcase */

/* letter */
#letter{
  padding: 15px;
  color: yellow;
  background-color: black;
}

#letter h1{
  float: left;
}

#letter form{
  float: right;
  margin-top: 15px;
}

#letter input[type="email"]{
  padding: 10px;
  height: 5px;
  width: 250px;
}

.buttonsubs{
  height: 30px;
  background-color: yellow;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
}
/* letter */

/* case */
#case{
  background: #F0FFFF;
}

#case .container h1{
  color: black;
  text-align: center;
}

#case .container h4{
  color: black;
  text-align: center;
}

#case .container h5{
  color: black;
  text-align: center;
}

#case .text{
  float: left;
  text-align: center;
  width: 30%;
  padding: 17px;
}
/* case */

footer{
  padding: 20px;
  text-align: center;
  color: yellow;
  background: black;
}
